
<div id="home" class="view">  

  <div class="listener" listener="loggedInUsername">
  	
  </div>

	<form name="input" action="Users.choose" method="get">
		Enter Name: <input type="text" name="name" />
		<input class="button" action="Users.chooseButton" type="submit" value="Go" />
	</form>
</div>


<div id="title_bar" class="login_bar">
	
	<div class="app_button" action="Users.home">
		Neurobix
	</div>
	
	<div class="button" clickAction="Users.login">
		Login
	</div>
	
	<div class="button" action="Users.signup">
		Sign Up
	</div>
</div>