* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: Helvetica;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}


body {
  background: #fff;
  margin: 0;
  font: 18px Helvetica;
  text-align: left;
}


/* ------------------- Game Buttons ----------------- */

div.button  {
	width:40%;
	margin:0pt auto;
	padding:5px;
	border:1px solid #ccc;
	color:white;
	font-size:110%;
	text-align:center;
	cursor:pointer;
	
	float:left;
	margin-left:10px;
	
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

div.visual {
	margin-top:10px;
	background:blue;
}
div.visual.pressed {
	background:orange;
}

div.color {
	margin-top:10px;
	background:blue;
}
div.color.pressed {
	background:orange;
}

div.start {
	margin-top:10px;
	background:green;
}


/* ------------------- Game Scoring, Visual Feedback to Player ----------------- */

div.afterPressResult {
	text-align:center;
}

div.afterPressResult.correct {
	color:green;
}

div.afterPressResult.wrong {
	color:red;
}



/* ------------------- Game Board ----------------- */

table.game {
	margin:0pt auto;
	width:95%;
	text-align:center;
}

table.game td {
	border-left:1px solid black;
	border-top:1px solid black;
	width:30%;
	height:80px;
}

table.game td:first-child {
	border-left:0px;
}

table.game tr:first-child td {
	border-top:0px;
}

table.game td.active {
	/* used to be a simple background:blue; but now we want colors */
}





/* ------------------- Misc ----------------- */

.hide {
	display:none;
}


