
<!-- My Actual homepage -->
<div id="home" class="view">
	
	<!-- Exit Button -->
	
	<div class="exitButton" clickAction="Users.logout">
		x
	</div>
	
	
	<!-- Scoring List -->
	
	<div class="homeSpace"></div>
	
	<div class="homeScores">
	  <div class="homeScore"> <!-- Consecutive Days -->
	  	<span>7</span> days in a row
	  </div>
	  
	  <div class="homeScore">
	  	<span>472</span> Average Brain Level
	  </div>
	  
	  <div class="homeScore">
	  	<span>99th</span> Percentile Overall
	  </div>
	</div>
  
  <div class="todaysGames"> <!-- Today's Games -->
  	
  </div>
  
  
  <!-- Games -->
  
  <div class="gameRow clearfix">
  	<div class="gameBox" clickAction="Games.info" gameKey="simon">
  		<div class="gameIcon"></div>
  		<div class="gameName">
  			Simon (n-back)
  		</div>
  	</div>
  	<div class="gameBox" clickAction="Games.info" gameKey="difference">
  		<div class="gameIcon"></div>
  		<div class="gameName">
  			Difference
  		</div>
  	</div>
  </div>
  
  <div class="gameRow clearfix">
  	<div class="gameBox" clickAction="Games.info" gameKey="shape">
  		<div class="gameIcon"></div>
  		<div class="gameName">
  			Shape Match
  		</div>
  	</div>
  	<div class="gameBox" clickAction="Games.info" gameKey="bird">
  		<div class="gameIcon"></div>
  		<div class="gameName">
  			Bird Spot
  		</div>
  	</div>
  </div>
  
  <div class="gameRow clearfix">
  	<div class="gameBox" clickAction="Games.info">
  		<div class="gameIcon"></div>
  		<div class="gameName">
  			Game 5
  		</div>
  	</div>
  	<div class="gameBox" clickAction="Games.info">
  		<div class="gameIcon"></div>
  		<div class="gameName">
  			Game 6
  		</div>
  	</div>
  </div>
	
</div>
