
<div id="login" class="view">
  
	<div id="title_bar" class="login_bar">
		
		<div class="button" clickAction="Users.home" animation="none">
			Neurobix
		</div>
		
		<div class="button" clickAction="Users.login" animation="fade">
			Login
		</div>
		
		<div class="button" clickAction="Users.signup" animation="fade">
			Sign Up
		</div>
	</div>
	
	<div class="error">
	</div>
	
  <h2>Login</h2>
  
	<form name="input" submitAction="Users.login" isPost="true">
		Name: <input type="text" name="name" value="nick"/>
		<br />
		Pass: <input type="text" name="pass" val="test"/>
		<input class="button" type="submit" value="Login" />
	</form>
  
  <div class="button" clickAction="Users.signup">
  	Sign up
  </div>
  
  <div class="allLogins listener" listener="registeredUsers">
  	
  </div>
  
</div>
	