	
<div id="welcome" class="view">
	
	<div id="title_bar" class="login_bar">
		
		<div class="button" clickAction="Users.home" animation="none">
			Neurobix
		</div>
		
		<div class="button" clickAction="Users.login" animation="fade">
			Login
		</div>
		
		<div class="button" clickAction="Users.signup" animation="fade">
			Sign Up
		</div>
	</div>
	
  <p>
  	"People who do Neurobix daily for 2 weeks improve an average of 20%"
  </p>
  
  <div class="button" clickAction="Games.testgame">Start!</div>
  
</div>